:root * {
  --tablet-width: 768px; /* var(--tablet-width) doesn't work in media queries */
  --color-light: #fff;
  --color-background: blueviolet;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  font-family: "Cinzel", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

/** TYPOGRAPHY */

h1,
p,
pre,
.container {
  padding: 0;
  width: auto;
  max-width: 100%;
}

h1,
p,
label,
pre {
  color: var(--color-light);
}


h1,
h2,
p,
label {
  text-align: center;
}

p,
pre,
form {
  margin: 2rem auto 1rem;
}

h1 {
  font-size: 3rem;
  white-space: pre-wrap;
  margin-top: 0;
}

label {
  font-size: 1.5rem;
  font-size: 1rem;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 80vw;
}

@media(min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  
  p {
    font-size: 2rem;
  }

  pre {
    max-width: 50vw;
  }
}

@media(min-width: 768px) and (min-height: 768px) {
  h1 {
    font-size: 5rem;
  }
  label {
    width: 100%;
    margin-bottom: 2rem;
  }
}


/** LAYOUT */

#root {
  background-image: url('./static/images/tup.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--color-background);
  padding: 5rem;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  align-content: center;
}

@media(min-width: 768px) and (min-height: 768px) {
  #root {
    padding: 10rem 5rem;
  }
}

/** FORM */

.form {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin-top: 15vh;
}

.form input,
.form button {
  margin: 0 1rem;
  padding: 8px;
  border-radius: 3px;
}

.form button {
  padding: 8px 32px;
}  

@media(min-width: 768px) and (min-height: 768px) {
  form {
    margin-top: 20vh;
  }
}